body
{
    overflow-x: hidden;
}


.theme
{
    background-color: coral;
    /* z-index: 5;
    position: fixed;
    top: 0;
    width: 101%; */
}

.theme > .row > .container > .col-sm-2,.col-sm-8, .col-sm-3 {
    color:white
}

 .row > .playlistmenu {
    padding: px 0px 0px 0px;
} 

.theme > .row > .container .playlistmenu > .col-sm-3 > h4.text-center:hover,h3.text-center:hover
{
border: 1px solid black;
border-radius: 20px;
background-color: black;
border-width: 10px;
transition: all .2s

} 

.list-theme {
    background-color: black;
   
}

.list-theme > .row > .container > .col-sm-2, .col-sm-8, .col-sm-3
{
color: white;
}

.br-10 {
    border: 1px solid white;
}

.playlist > .container > .row > img {
    width: 200px;
    height: 200px;
}

.ranger {
    opacity: 0.5;;
}

.container > .pad-25 {
    margin-top: 50px;
}

.playlist.theme
{
    z-index: 999;
    position: sticky;
    top: 100px;
    margin: 0;
}

.playlist.theme{
   
    bottom: 0;
    height: 250px;
    width: 100%;

}


.list-theme {
    
    height: 500px;
   
}
